@import "../layout.scss";
@import "../variables.scss";
@import "./fontello.scss";

.container {
  background: $color-card-bg;
  padding: 16px 16px 10px 16px;
}
.with-records {
  padding-bottom: 0;
}
.card-divider {
  border-bottom: 1px solid $color-card-divider;
}
.card {
  color: $color-font-card;
  font-weight: 400;
  font-size: 13px;
  @extend .card-divider;
}
.card-header {
  font-size: 15px;
  font-weight: 500;
}

@keyframes highlightIt {
  0% {
    border: 2px solid;
    padding: 14px 14px 9px 14px;
  }
  50% {
    border: 2px solid;
    padding: 14px 14px 9px 14px;
  }
  100% {
    border: 2px solid transparent;
    padding: 14px 14px 9px 14px;
  }
}

.workout-highlighted {
  animation: highlightIt 1.3s ease-in-out;
  padding-bottom: 0;
}

.date {
  font-weight: bold;
  line-height: 16px;
  white-space: nowrap;
  margin-right: 8px;
}

.line-item {
  margin-top: 10px;
}

.additional:not(:first-child) {
  margin-top: 5px;
}
.section-wrapper {
  padding-top: 10px;
}
.section-item {
  margin-left: 10px;
}
.border {
  padding-bottom: 10px;
  border-bottom: 1px solid $color-card-divider;
}
.toggle-link {
  font-size: 10px;
  font-weight: 500;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}
.exercises {
  font-size: 13px;
  &:not(:first-child) {
    @extend .section-wrapper;
  }
}
.exercise-container {
  padding-left: 16px;
  overflow: hidden;
}
.io-pad {
  padding: 4px;
}

.recordable {
  margin-top: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}
.recent-record {
  margin-top: 10px;
  border-radius: 2px;
  font-size: 10px;
  padding: 4px 8px;
  color: $color-font-record;
  background-color: $color-background-record;
}
.record-row:not(:last-child) {
  padding-bottom: 4px;
  border-bottom: 1px solid $color-card-divider-light;
}
.record-row:not(:first-child) {
  padding-top: 4px;
}

.contain-width {
  min-width: 0;
}

.today {margin:0;
}
.label {
  font-weight: bold;
  color: $color-font-title;
  flex: 1 0 50%;
  margin-right: 8px;
}
.value {
  min-width: 0;
  word-wrap: break-word;
}
.score-input {
  @extend .section-item;
  border: 1px solid $color-column-border;
  border-radius: 2px;
  background-color: $color-score-input;
  font-size: 11px;
  max-width: 56px;
  @extend .io-pad;
  &:focus {
    outline: none;
  }
}

.empty-column {
  background-color: inherit;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}

.spacer {
  margin: 0 10px;
}

.wrapper {
  position: relative;
}

