.DayPickerInput {
  display: flex;
  min-width: 0;
}

.DayPickerInput input {
  border: 1px solid #e0ebfc;
  border-radius: 2px;
  background-color: #fff;
  font-size: 11px;
  padding: 4px;
  line-height: normal;
  width: 90px;
}

.DayPickerInput input:focus {
  outline: none;
}
.DayPickerInput-OverlayWrapper {
  position: static;
}

.DayPickerInput-Overlay{
  left: 247px;
  z-index: 2000;
  position: absolute;
  background: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);  
}
