@import "../layout.scss";
@import "../variables.scss";

.col-wrapper {
  width: 240px;
  &:not(:last-child){
    margin-right: 12px;
  }
}
  
.category-header {
  background-color: $color-column-header-bg;
  color: $color-font-card;
  height: 33px;
  box-sizing: border-box;
  padding: 4px 16px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid $color-column-border;
  border-radius: 5px;
  & * {
    min-width: 0;
    &:not(:first-child){
      flex-shrink: 0;
    }
  }
}

.card-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.workouts-container {
  overflow: auto;
  border: 1px solid $color-column-border;
  border-radius: 5px;
  margin-top: 5px;
}

.enter {
  transform: translateY(100vh) translateY(-127px);
}

.enter.enter-active {
  transform: translate3d(0px, 0px, 0px);
  transition: transform $slide-duration cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.exit {
  transform: translate3d(0px, 0px, 0px);
}

.exit.exit-active{
  transform: translateY(100vh) translateY(-127px);
  transition: transform $slide-duration cubic-bezier(0, 0, 0.2, 1) 0ms;
}

*.new-column-input {
  height: 23px;
  background-color: inherit;
  border-radius: 1px;
  color: $color-text-field-label;
  font-size: 12px;
  &:focus {
    color: initial;
    border: 1px solid transparent;
  }
}

::placeholder {
  color: $color-text-field-label;
}

.add-col {
  color: #fff;
  background-color: $color-new-card-action;
}

.add-workout-btn {
  width: auto;
  font-size: 18px;
  border: 1px solid $color-column-border;
  white-space: nowrap;
  margin:0;
  background-color: $color-text-field-border;
  color: white;
}

.template-options {
  width: 400px;
  & input {
    color: rgba(0,0,0,0.87);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    box-shadow: 0 -1px 0 #e0e0e0 inset;
    background-color: inherit;
    width: auto;
    min-width: 0;
    padding-right:26px;
    color:$color-column-header-font;
    margin-left: -4px;
    border-radius: 2px;
    &:focus {
      border:1px solid transparent;
      box-shadow: 0 -2px 0 $color-card-btn-hover-font inset, 0 0 0 1px #e0e0e0 inset;
    }
    
  }
}

.edit-icon-position {
  & i{
    position: absolute;
    right: 8;
    top:8;
    display:none;
    color: $color-light-grey;
  }
  & i:before {
    cursor: text;
  }
  &:hover {
    & i{display:block}
  }
  & input:focus+i {
    display: none;
  }
}

input.template-options-column-input {
  color: $color-font-title;
  font-size:14px;
}

.template-modal-list-item {
  position: relative;
  align-self: baseline;
  @extend .edit-icon-position;
}

.template-modal-header {
  color:$color-column-header-font;
  font-weight: bold;
  position: relative;
  max-width: 50%;
  align-self: baseline;
  @extend .edit-icon-position;
}
