@import "../layout.scss";
@import "../variables.scss";

.col-wrapper {
  width: 240px;
  &:not(:last-child){
    margin-right: 12px;
  }
}

.category-header {
  background-color: $color-column-header-bg;
  color: $color-column-header-font;
  height: 29px;
  padding: 0 16px;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid $color-column-border;
  border-radius: 5px;
  flex: 0 0 auto;
}

.workouts-container {
  overflow: auto;
  border: 1px solid $color-column-border;
  border-radius: 5px;
  margin-top: 10px;
}

.enter {
  transform: translateY(100vh) translateY(-127px);
}

.enter.enter-active {
  transform: translate3d(0px, 0px, 0px);
  transition: transform $slide-duration cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.exit {
  transform: translate3d(0px, 0px, 0px);
}

.exit.exit-active{
  transform: translateY(100vh) translateY(-127px);
  transition: transform $slide-duration cubic-bezier(0, 0, 0.2, 1) 0ms;
}

*.new-column-input {
  height: 23px;
  background-color: inherit;
  border-radius: 1px;
  color: $color-text-field-label;
  font-size: 12px;
  &:focus {
    color: initial;
    border: 1px solid transparent;
  }
}

::placeholder {
  color: $color-text-field-label;
}

.add-col {
  color: #fff;
  background-color: $color-new-card-action;
}

.add-workout-btn {
  width: auto;
  font-size: 18px;
  border: 1px solid $color-column-border;
  white-space: nowrap;
  margin:0;
  background-color: $color-text-field-border;
  color: white;
}

.template-options {
  width: 400px;
  & input {
    font-size: 22px;
    background-color: inherit;
    width: auto;
    color:$color-column-header-font;
    margin-right: 10px;
    margin-left: -4px;
    border-radius: 2px;
  }
  
}

.template-modal-row {
  color: $color-font-title;
}

.template-modal-header {
  color:$color-column-header-font;
  font-weight: bold;
}
