@import "../layout.scss";
@import "../variables.scss";

.col-wrapper {
  width: 240px;
}

.category-header {
  background-color: $color-column-header-bg;
  color: $color-column-header-font;
  height: 29px;
  line-height: 29px;
  border-bottom: 1px solid $color-column-header-divider;
  padding: 0 16px 0 24px;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid $color-column-border;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.workouts-container {
  overflow: auto;
  border: 1px solid $color-column-border;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.icon-add-workout {
  color: $color-icon-add;
}

.icon-minimize-column {
  color: $color-column-minimize;
}

.icon-randomize {
  color: $color-font-title;
}

.icon-add-workout,
.icon-randomize,
.icon-minimize-column {
  margin-left: 8px;
  &:before {
    font-size: 16px;
  }
}
