@import "../layout.scss";
@import "../variables.scss";

.header {
  background-color: $color-card-bg;
  min-height: 48px;
  border-bottom: 1px solid $color-card-divider;  
}

.container {
  height: 48px;
  padding: 8px 24px;
  position: relative;
  box-sizing: border-box;
}

.icon-button {
  position: relative;
  z-index: 1000;
  width: 30px;
  height: 30px;
  margin-left: 12px;
  background: #f4f8fb;
  border: 1px solid $color-column-border;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  color: #9B9B9B;
  border-radius: 2px;
}