@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700,800");
@import "./variables.scss";

body {
  margin: 0;
  font-family: "Roboto Mono", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background-main;
}

.dashContainer {
  padding: 54px 24px 16px;
  box-sizing: border-box;
  position: relative;
  height: calc(100% - 48px);
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.dash-wrapper {
  height: 100vh;
  overflow: hidden;
}

.box {
  display: flex;
}

.auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.col {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.btn {
  border-radius: 3px;
  font-size: 11px;
  color: $color-card-btn-font;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  width: 56px;
  box-sizing: border-box;
  margin-left: 10px;
  padding: 4px 10px;
  background-color: $color-card-btn-bg;
  &:hover {
    background-color: $color-dark-secondary;
    color: $color-card-btn-hover-font;
  }
}

