@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700,800");
@import "./variables.scss";

body {
  margin: 0;
  font-family: "Roboto Mono", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-background-main;
  & button {
    font-family: "Roboto Mono", "sans-serif";

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.dashContainer {
  justify-content: center;
  padding: 54px 24px 16px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  display:flex;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.spread {
  justify-content: space-between;
}

.dash-wrapper {
  height: 100vh;
  overflow: hidden;
  overflow-x: auto;
}

.box {
  display: flex;
}

.auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  display:flex;
}


.center {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.content-center {
  align-content: center;
}

.content-between {
  align-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.start {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

.col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.btn {
  border-radius: 3px;
  font-size: 11px;
  color: $color-card-btn-font;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  width: 56px;
  box-sizing: border-box;
  margin-left: 10px;
  background-color: $color-card-btn-bg;
  &:hover {
    background-color: $color-icon-header-hover;
    color: #fff;
  }
}

.btn-secondary {
  padding: 4px 10px;
}

.disabled {
  color: rgba(0,0,0,.38) !important;
  cursor: default !important;
  fill: rgba(0,0,0,.28) !important;
}


