$color-dark-secondary: #080059;
$color-font-title: #49a3ff;
$color-background-main: #f5f9fe;
$color-card-bg: #fff;
$color-font-card: #6881a9;
$color-card-divider: rgba(0, 0, 0, 0.08);
$color-card-divider-strong: rgba(0, 0, 0, 0.12);
$color-card-divider-light: rgba(0, 0, 0, 0.06);
$color-card-btn-font: $color-font-card;
$color-card-btn-hover-font: #58e4d2;
$color-card-btn-bg: #f7faff;
$color-font-record: #5c5c5c;
$color-background-record: #f5f5f5;
$color-column-border: #e0ebfc;
$color-score-input: #fff;
$color-column-header-bg: #f1f4f9;
$color-column-header-font: #4a648c;
$color-column-header-divider: #e8edef;
$color-icon-add: #47c652;
$color-column-minimize: #febf40;
$color-tooltip-bg: rgba(97, 97, 97, 0.9);
