$color-dark-secondary: #2b1aec;
$color-contrast-dark: #374c6d;
$color-template-title: #49a3ff;
$color-light-secondary: #b6b1e9;
$color-font-title: #49a3ff;
$color-background-main: #f5f9fe;
$color-card-bg: #fff;
$color-font-card: $color-contrast-dark;
$color-card-divider: rgba(0, 0, 0, 0.08);
$color-card-divider-strong: rgba(0, 0, 0, 0.12);
$color-card-divider-light: rgba(0, 0, 0, 0.03);
$color-card-btn-font: $color-font-card;
$color-card-btn-hover-font: #58e4d2;
$color-card-btn-bg: #eff4fd;
$color-font-record: #5c5c5c;
$color-background-record: #f5f5f5;
$color-column-border: #e0ebfc;
$color-score-input: #fff;
$color-column-header-bg: #f1f4f9;
$color-column-header-font: #4a648c;
$color-column-header-divider: #e8edef;
$color-icon-add: #47c652;
$color-icon-column:#91A3C0;
$color-column-minimize: #febf40;
$color-tooltip-bg: rgba(97, 97, 97, 0.9);
$color-text-field-bg: #e7edf6;
$color-text-field-border: #a3badc;
$color-text-field-label: rgba(0,0,0,.32);
$color-new-card-action: #6861FF;
$color-error: #ff5252;
$slide-duration: 200ms;
$color-light-grey: #5c5c5ca6;
$color-icon-header: $color-font-card;
$color-icon-header-hover: $color-contrast-dark;
$color-grey-disable: #D7D9DD;
$color-calendar-card : #073142;