@import "../layout.scss";
@import "../variables.scss";

.new-card-container {
  background: $color-background-main;
  padding: 16px;
  transition: transform $slide-duration cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.enter {
  transform: translateY(100vh) translateY(-127px);
}

.enter.enter-active {
  z-index: 10;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 1000ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.exit {
  transform: translate3d(0px, 0px, 0px);
}

.exit.exit-active {
  transform: translateY(100vh) translateY(-127px);
  transition: transform $animation-ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}


.new-card-header {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.textfield-floating-label {
  position: relative;
  font-size: 14px;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin: 0;
  padding: 20px 0 5px;
}

.textfield-label {
  bottom: 0;
  color: $color-text-field-label;
  font-size: 12px;
  left: 4px;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  top: 24px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.floating-label {
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.label-required:after {
  content: "*";
  color: $color-error;
  position: absolute;
  top:-2;
}

.input-name {
  background: $color-text-field-bg;
  border: 1px solid transparent;
  display: block;
  font-size: 14px;
  font-family: "Roboto Mono", "sans-serif";
  margin: 0;
  padding: 4px;
  width: 100%;
  outline: none;
  text-align: left;
  resize: none;
  &:focus {
    border: 1px solid $color-text-field-border;    
    background: #fff;
  }
}

.is-focused {
  color: $color-column-header-font;
  font-size: 10px;
  top: 2px;
  left: 0;
  visibility: visible;
}

.exercise-box {
  &:not(:first-child){
    margin-left:4px;
  }
}

.section-heading {
  font-size: 14px;
  margin: 10px 0 6px;
}

.section-subheading {
  font-size: 10px;
  margin-top:-6px;
  margin-bottom: 6px;
  color: $color-text-field-label;
}

.add {
  margin-top:0;
  float:right;
}

.submit {
  margin-left:0;
  background-color: $color-new-card-action;
  color: white;
  padding: 8px 24px;
  width: auto;
}

.close {
  color: $color-font-card;
  &:hover {
    color: $color-dark-secondary;
  }
}

.highlight-input {
  border: 1px solid $color-error;
}
.error {
  color: $color-error;
  font-size:10px;
}