@import "../layout.scss";
@import "../variables.scss";

.calendar-container {
  border: 1px solid $color-column-border;
  border-radius: 5px;
  background: #fff;
  flex:1;
}

.cal-wrapper {
  margin-top: 9px;
}

.cal-row {
  border-bottom: 1px solid $color-column-border; 
}

.th {
  color :$color-contrast-dark;
  font-weight: 500;
}

.days {
  padding: 8px 8px 8px 0;
  text-transform: uppercase;
  &.active {
    color :$color-template-title;
  }
}

.header {
  @extend .th;
  position: fixed;
  width: 500px;
  font-size:18px;
  font-weight: 600;
  transform: translate3d(calc((100vw - 64px)/2 - 50%),-3.5em,0);
  padding:8px;
}

.month-toggle {
  height: 48px;
}

.days-of-week {
  @extend .cal-row;
  font-size: 14px;
  height: 48px;
}
.year {
  color :#9598A1;
  font-size: 12px;
}

.month {
  min-width: 140px;
}

.week {
  border-bottom: 1px solid $color-column-border; 
  flex: 1 1 0%;
  font-size: 14px;
  font-weight: 400;
  color: $color-card-btn-font;
}

.day {
  @extend .flex1;
  padding: 8px;
  &:not(:last-child) {
    border-right: 1px solid $color-column-border; 
  }
  & .active {
    margin-left: -2px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background-color: $color-template-title;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
}

.day-number {
  min-height: 24px;
}

.off-range {
  color: $color-grey-disable;
}

.icon-arrow {
  text-align: center;
  width: 24px;
 &:before{
  font-size: 24px;
  margin: 0;
 }
}

.arrow-wrap {
  width: 32px;
  height:32px;
  margin: 0 24px;
  cursor: pointer;
  border-radius: 50%;
  &:hover {
    background-color: rgba(0,0,0,.07);
  }
}

.card-title {
  font-weight: 800;
  font-size:22px;
  color: $color-calendar-card;
  margin-bottom: 8px;
}

.wo-type {
  color :$color-light-grey;
  font-weight: 500;
}

.exercises {
  font-size:13px;
  word-break: break-word;
  & div {
    padding: 4px 0;
  }
}
.card-label {
  color : $color-calendar-card;
}
.card-scheme {
  font-size: 12px;
  color: $color-light-grey;
}